.test {
    box-sizing: content-box;
    position: relative;
    width: 8.5in;
    height: 11in;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 5px 1px gray;
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    ;
}

.company-card {
    box-sizing: border-box;
    position: inherit;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px lightgray;
    box-shadow: 0 0 3px 0.5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    background-color: white;
}

.table-comp {
    width: 100%;
    padding-right: 10px;
    margin: 0;
}

.img-cell {
    margin: 0;
    padding: 0;
    border: none;
}

.img-company {
    width: 60px;
    height: 60px;
    padding: 2px;
    border: solid 1px lightgray;
}

.uniq-margin {
    margin-left: 12px;
}

.designation {
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.9);
    padding: 0;
    /* vertical-align: top; */
}

.date {
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding: 0;
    /* vertical-align: top; */
}

.comp-name {
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    padding: 0;
    /* vertical-align: top; */
}

.team-size {
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid lightgray;
    border-radius: 99px;
    padding: 2px 5px;
    box-shadow: 0px 0px 2px 0.5px lightgray;
}

.td-right {
    text-align: right;
    align-content: end;
}

.location {
    line-height: 20px !important;
    vertical-align: bottom !important;
}

.partial-border {
    height: 1px;
    width: 50%;
    background-color: lightgray;
    overflow: hidden;
}

.small_gray {
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.container-languages {
    display: flex;
    /* background-color: gold; */
    margin-left: 0;
    margin-right: 0;
    border-radius: 99px;
    padding-top: 4px;
    white-space: nowrap;
    justify-content: flex-end;
}

.img-lang {
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transform: rotateY(10deg);
    border: 2px solid white;
    background-color: white;
    vertical-align: middle;
    margin-right: -5px;
    box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.trial1 {
    position: absolute;
    top: 2px;
    left: 2px;
    box-sizing: border-box;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transform: rotateY(10deg);
    background-color: transparent;
    vertical-align: middle;
    margin-right: -5px;
}

.img-lang-last {
    margin-right: 0;
}

.img-plus {
    margin: 0 0 0 3px;
    height: 30px;
    padding: 3px 1px;
    /* line-height: 20px; */
    font-size: 14px;
    border-radius: 5px;
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.description {
    padding: 5px 0;
    font-family: system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.7);
}

ul {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0 auto;
}

li {}

td {
    margin: 0;
    padding: 0;
    /* border: solid 1px lightgray; */
}